<h1><%= @survey.name %></h1>
<h2>Language: <%= @language %></h2>

<% @questions.each do |question| %>
  <h3><%= question.question_number %>. <%= question.question_text %></h3>
  <ul>
    <% question.options_list.each_with_index do |option, index| %>
      <li>
        <%= radio_button_tag "answers[#{question.id}]", index, false %>
        <%= label_tag "answers[#{question.id}][#{index}]", option %>
      </li>
    <% end %>
  </ul>
<% end %>
