<h1><%= @survey.name %></h1>
<h2>Language: <%= @language %></h2>

<% @questions.each do |question| %>
  <% if !question.parent_question_number.present? %>
    <div id=<%= question.question_number %>>
  <%else %>
    <div id=<%= question.question_number %> style="display:none" >
  <% end %>
    <h3><%= question.question_number %>. <%= question.question_text %></h3>
      <% question.options_list.each_with_index do |option, index| %>

      <% if question.child == nil %>
        <%= radio_button_tag "answers[#{question.question_number}]", option, false, data: { option_index: index }%>
      <%else %>
        <% if option == question.option_selected_to_display_child %>
          <%= radio_button_tag "answers[#{question.question_number}]", option, false, data: { show_question: question.child, option_index: index } %>
        <%else %>
          <%= radio_button_tag "answers[#{question.question_number}]", option, false, data: { hide_question: question.child, option_index: index } %>
        <% end %>
      <% end %>
      <%= label_tag "answers[#{question.question_number}][#{index}]", option %>
      <br>
    <% end %>
  </div>
<% end %>

<button id="submit-button">Submit</button>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const submitButton = document.getElementById("submit-button");
    submitButton.addEventListener("click", function() {
      var answers_data = [];
      var completeSurvey = true;
      <% @questions.each do |question| %>

        var questionNumber = "<%= question.question_number %>";
        var optionDOM = document.querySelector('input[name="answers[<%= question.question_number %>]"]:checked');
        // console.log(optionDOM);

        check_req=false;
        if ("<%= question.parent_question_number %>" == ""){
          check_req=true;

        }else{
          // console.log($(document.querySelector('input[name="answers[<%= question.parent_question_number %>]"]:checked')).data());
          var parent_show_quest=$(document.querySelector('input[name="answers[<%= question.parent_question_number %>]"]:checked')).data('showQuestion');

          if (parent_show_quest){
            console.log("child shown")
            check_req=true

          }else{
            console.log("child not shown")

          }
        }
        console.log(optionDOM);
        if (check_req){
          if (optionDOM === null) {
            console.log('Question not answered', questionNumber)
            completeSurvey = false;
            alert('Survey is not completed, please answer all questions');
            return;
          } else {
            console.log('some value was selected',questionNumber);
          }
        }else{
            console.log('check not req',questionNumber);
        }

        var option = $(optionDOM);
        var dataAttrs = option.data();
        var optionValue = option.val();
        // console.log(optionValue, dataAttrs);
        answers_data.push([questionNumber, optionValue]);

      <% end %>

      console.log(answers_data);
    });
  });

  $(document).ready(function() {
    $('input[type="radio"]').click(function() {
      var showQuestionAttr = $(this).data('showQuestion');
      var hideQuestionAttr = $(this).data('hideQuestion');

      if (showQuestionAttr) {
        $('#' + showQuestionAttr).show();
      } else if (hideQuestionAttr) {
        $('#' + hideQuestionAttr).hide();
        $('#' + hideQuestionAttr + ' input[type=radio]').prop('checked', false);
      }
    });
  });

</script>
