<p style="color: green"><%= notice %></p>

<%= render @survey_result %>

<div>
  <%= link_to "Edit this survey result", edit_survey_result_path(@survey_result) %> |
  <%= link_to "Back to survey results", survey_results_path %>

  <%= button_to "Destroy this survey result", @survey_result, method: :delete %>
</div>
