<h1>Responses</h1>

<table>
  <thead>
    <tr>
      <th>Question Number</th>
      <th>Response</th>
      <th>Response Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.question_number %></td>
        <td><%= response.response %></td>
        <td><%= response.response_score %></td>
        <td><%= link_to 'Show', survey_response_path(@survey, response) %></td>
        <td><%= link_to 'Edit', edit_survey_response_path(@survey, response) %></td>
        <td><%= link_to 'Destroy', survey_response_path(@survey, response), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response', new_survey_response_path(@survey) %>

