<h1>Responses</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Survey ID</th>
      <th>User ID</th>
      <th>Question Number</th>
      <th>Response</th>
      <th>Response Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.id %></td>
        <td><%= response.survey_id %></td>
        <td><%= response.user_id %></td>
        <td><%= response.question_number %></td>
        <td><%= response.response %></td>
        <td><%= response.response_score %></td>
        <td><%= link_to 'Show', response %></td>
        <td><%= link_to 'Edit', edit_response_path(response) %></td>
        <td><%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response', new_survey_response_path %>
