<h1>Responses</h1>
<%= form_tag survey_responses_path(@survey, language: @language), method: :get do %>
    <%= select_tag :language, options_for_select(@survey.languages, @language) %>
    <%= submit_tag "Change Language" %>
  <% end %>
  
<table>
  <thead>
    <tr>
      <th>Question Text</th>
      <th>Response</th>
      <th>Response Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= @questions.where(question_number: response.question_number).first.question_text %></td>
        <td><%= response.response_option_number.nil? ? "" : @questions.where(question_number: response.question_number).first.options_list[response.response_option_number] %></td>
        <td><%= response.response_score %></td>
        <td><%= link_to 'Show', survey_response_path(@survey, response) %></td>
        <td><%= link_to 'Edit', edit_survey_response_path(@survey, response) %></td>
        <td><%= link_to 'Delete', survey_response_path(@survey, response), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>