<p style="color: green"><%= notice %></p>

<h1>Surveys</h1>

<div id="surveys">
<table>
  <thead>
    <tr>
      <th>Survey Name</th>
      <th>Survey Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.survey_name %></td>
        <td><%= survey.survey_category %></td>
        <td><%= link_to "Take Survey", select_language_survey_path(survey) %></td>
        <td><%= link_to "See Your Responses", survey_responses_path(survey) %></td>
        <td><%= link_to "See Resources", resources_path %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


